#parse("base.html")
#@mainLayout()

<!--<canvas id="fractal"></canvas>-->
<div id="fractal-content">
    <img id="fractal" src="" hidden style="z-index: 1">
</div>
<!--<div id="fractal-debug" style="z-index: 999; position: absolute"></div>-->
<div>
    <img id="zoom-in" class="button-fractal" src="img/zoom-in.svg" height="50" width="50" style="bottom: 10px;right: 10px; z-index: 999" onclick="zoomIn()">
    <img id="zoom-out" class="button-fractal" src="img/zoom-out.svg" height="50" width="50" style="bottom: 10px;right: 90px; z-index: 999"  onclick="zoomOut()">
</div>
<script>
    const pan = {x:0,y:0};
    const zoomMultiplierLanding = [1.0,2.2,10.0, 20.0, 50.0, 100.0, 500.0, 1000.0, 2500.0, 5000.0, 10000.0, 15000.0, 20000.0];
    const zoomMultiplierRef = [0.1,1.0,5.0, 20.0, 50.0, 100.0, 500.0, 1000.0, 2500.0, 5000.0, 10000.0, 15000.0, 20000.0];
    let zoomMultiplier = 0.1;
    let zoom = 1.0;
    let scale = 0;
    let maxHeight = window.innerHeight;
    let maxWidth = window.innerWidth;

    function drawMandelbrot(){
        fetch(`/mandelbrot?zoom=${zoom}&moveX=${pan.x}&moveY=${pan.y}&layoutHeight=${maxHeight}&layoutWidth=${maxWidth}`).then(response=>{return response.text()})
            .then(data=>{
                const image = document.getElementById("fractal");
                updateSizeImage(maxWidth,maxHeight)
                image.setAttribute("src",data)
                image.hidden = !(image.getAttribute("src") != null);
                viewCenterBoxWidth();
            }).catch(e=>{
                console.error(e)
        })

    }

    window.addEventListener("resize", ()=>{
        console.log("rezize")
        maxHeight = window.innerHeight;
        maxWidth =  window.innerWidth;
        drawMandelbrot();
    })

    function updateSizeImage(width, height){
        const image = document.getElementById("fractal");
        image.style.width = width+"px";
        image.style.height = height+"px";
    }

    // setTimeout(function() {
    //     window.onresize = function(){
    //     maxHeight = window.innerHeight;
    //     maxWidth =  window.innerWidth;
    //
    //     console.log("Fenetre reajuster - height" + window.innerHeight );
    //     console.log("Fenetre reajuster - width" + window.innerWidth);
    //
    //     requestAnimationFrame(drawMandelbrot);
    //
    //     }
    //
    // }, 500);




    function getMoveCoordinate(e){
        const image = document.getElementById("fractal");
        const imgWidth = image.clientWidth
        const imgHigth = image.clientHeight
        const mouseX = e.clientX, mouseY = e.clientY;
        const offsetLeft = window.innerWidth - imgWidth
        const centerX = (imgWidth+offsetLeft)/2, centerY = imgHigth/2
        let moveX = Math.abs(centerX - mouseX), moveY = Math.abs(centerY - mouseY);

        // Positif ou négatif ?
        if(centerX > mouseX)
            moveX = -moveX
        if(centerY > mouseY)
            moveY = -moveY

        return [moveX, moveY];
    }

    document.getElementById("fractal").addEventListener("click",(e)=>{
        e.preventDefault();
        const [moveX, moveY] = getMoveCoordinate(e);
        pan.x += moveX / 500 * 0.5;
        pan.y += moveY / 500 * 0.5;
        drawMandelbrot(pan.x, pan.y)
    })

// Custom Implemation Reload Window
    let keyR = false;
    let keyCmd = false
    document.addEventListener("keydown", (e)=>{
        e.preventDefault();
        if(e.code == "MetaLeft")
            keyCmd = true
        if(e.code == "KeyR")
            keyR = true
        if(keyR && keyCmd)
            window.location.reload()
    })
    document.addEventListener("keyup", (e)=>{
        e.preventDefault();
        if(e.code == "MetaLeft")
            keyCmd = false
        if(e.code == "KeyR")
            keyR = false
    })
    // =============================

    function zoomIn(){
        let resultZoomEchlon = zoomMultiplierLanding.find(e=>e===parseFloat(zoom.toPrecision(2)));
        if(resultZoomEchlon){
            let index = zoomMultiplierLanding.findIndex(e=>e===resultZoomEchlon)
            console.log(index)
            zoomMultiplier = zoomMultiplierRef[index]
        }
        zoom+= Math.abs(zoomMultiplier);
        drawMandelbrot();
    }

    function zoomOut(){
        console.log("zoom",Math.abs(zoom))
        if(Math.abs(zoom) == 1.0) return;
        let resultZoomEchlon = zoomMultiplierLanding.find(e=>e===parseFloat(zoom.toPrecision(2)));
        if(resultZoomEchlon){
            let index = zoomMultiplierLanding.findIndex(e=>e===resultZoomEchlon)
            console.log(index)
            console.log(resultZoomEchlon)
            if(index == 0)
                zoomMultiplier = zoomMultiplierRef[0];
            else
                zoomMultiplier = zoomMultiplierRef[index-1];
        }
        console.log("zoomMultiplier ",zoomMultiplier)
        zoom-= Math.abs(zoomMultiplier)
        drawMandelbrot();
    }

    function resetFractal(){
        zoom = 1;
        zoomMultiplier = 1;
        pan.x = 0;
        pan.y = 0;
        drawMandelbrot()
    }

    document.addEventListener("keydown",(e)=>{
        if(e.code == "Equal"){
                zoomIn();
        }
        if(e.code == "Minus"){
                zoomOut();
        }
    })

    function viewCenterBoxWidth(){
        const imgWidth = document.getElementById("fractal").clientWidth
        const imgHigth = document.getElementById("fractal").clientHeight

        // const width = (window.innerWidth/2), height = (window.innerHeight/2);
        const width = (imgWidth/2), height = (imgHigth/2);
        const container = document.getElementById("fractal-content")
        if(container.children.length == 3){
            let img = container.children[0]
            container.innerHTML = "";
            container.appendChild(img);
        }
        container.style.marginLeft= "auto";
        container.style.marginRight= "auto"
        container.style.width = imgWidth+"px";
        container.style.height = imgHigth+"px";
        container.style.position = "relative";

        let node = document.createElement("div")
        node.style.width = imgWidth+"px";
        node.style.height = "1px";
        node.style.backgroundColor = "white";
        node.style.position = "absolute";
        node.style.top = height+"px";
        container.appendChild(node);

        let node2 = document.createElement("div")
        node2.style.width = 1+"px";
        node2.style.height = imgHigth+"px";
        node2.style.backgroundColor = "white";
        node2.style.position = "absolute";
        node2.style.top = "0px";
        node2.style.left = width+"px"
        container.appendChild(node2);
    }

    drawMandelbrot();
</script>
#end
